production:
  adapter: postgresql
  database: redmine
  host: localhost
  username: "{{db_username}}"
  password: "{{db_password}}"
  encoding: utf8
  pool: 5
test:
  adapter: postgresql
  database: redmine_test
  host: localhost
  username: "{{db_username}}"
  password: "{{db_password}}"
  encoding: utf8
  pool: 5
